{% extends "layout.html" %}

{% block title %}Change Password | {{ block.super }}{% endblock %}

{% block body %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label for="inputEmail3" class="col-md-3 h3 mt-4">Old password</label>
            <div class="col-md-9">
                <input type="text" autocomplete="false"
                       class="form-control h6" id="inputEmail3"
                       placeholder="Old password" name="old_password">
            </div>
        </div>

        <div class="form-group row">
            <label for="pass" class="col-md-3 h3 mt-4">New password</label>
            <div class="col-md-9">
                <input type="password" autocomplete="false"
                       class="form-control h6" id="pass" name="new_password"
                       placeholder="New password (14 characters min)">
            </div>

        </div>
            <div id="meter_wrapper">
                <div>
                    <strong class="text-secondary" id="pass_type"></strong>
                </div>
                <div class="d-flex justify-content-end" id="meter"></div>
            </div>

        <div class="form-group row">
            <label for="inputPassword2" class="col-md-3 h3 mt-4">Confirm password</label>
            <div class="col-md-9">
                <input type="password" autocomplete="false"
                       class="form-control h6" id="inputPassword2"
                       placeholder="Confirm password" name="new_password2"
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12 d-flex justify-content-center my-5">
                <button type="submit" class="btn btn-primary justify-content-center">
                    <h2>Save password</h2>
                </button>
            </div>
        </div>
        <div>
        {% for text in form.new_password.help_text %}
            <p class="text-center my-3">{{ text }}</p>
        {% endfor %}
        </div>

    </form>
</div>
<!--<form method="POST">-->
    <!--{% csrf_token %}-->

    <!--<label for="old">{{ form.old_password.label_tag }}</label>-->
    <!--<input id="old" formaction="{{ form.old_password }}-->
    <!--<label for="pass">{{ form.new_password.label_tag }}</label>-->
    <!--<input id="pass" formaction="{{ form.new_password }}-->
    <!--<label for="confirm">{{ form.new_password2.label_tag }}</label>-->
    <!--<input id="confirm" formaction="{{ form.new_password2 }}-->
    <!--<div id="meter_wrapper">-->
        <!--<div id="meter"></div>-->
        <!--<span id="pass_type"></span>-->
    <!--</div>-->
    <!--<div>-->
        <!--{% for text in form.new_password.help_text %}-->
            <!--<p>{{ text }}</p>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--<input type="submit" class="button-primary" value="Save Password">-->
<!--</form>-->
{% endblock %}