{% extends "layout.html" %}

{% block title %}Change Password | {{ block.super }}{% endblock %}

{% block body %}

<!-- PASSWORD FORM -->
<div class="container">
    <form method="POST" class="form-control m-5 p-5">
        {% csrf_token %}
        <div class="form-group row">
            <label for="inputEmail3" class="col-md-3 h3 mt-4">Old password</label>
            <div class="col-md-9">
                <input type="password" autocomplete="off"
                       class="form-control h6" id="inputEmail3"
                       placeholder="Old password" name="old">
            </div>
        </div>

        <div class="form-group row">
            <label for="pass" class="col-md-3 h3 mt-4">New password</label>
            <div class="col-md-9">
                <input type="password" autocomplete="off"
                       class="form-control h6" id="pass" name="new"
                       placeholder="New password (14 characters min)">
            </div>

        </div>
            <div id="meter_wrapper">
                <div>
                    <strong id="pass_type"></strong>
                </div>
                <div class="d-flex justify-content-end" id="meter"></div>
            </div>

        <div class="form-group row">
            <label for="inputPassword2" class="col-md-3 h3 mt-4">Confirm password</label>
            <div class="col-md-9">
                <input type="password" autocomplete="off"
                       class="form-control h6" id="inputPassword2"
                       placeholder="Confirm password" name="check_new">
            </div>

        </div>

        <div class="form-group row">
            <div class="col-md-4 d-flex justify-content-start my-1 custom p-3">
                <button type="submit" class="btn btn-primary justify-content-center">
                    <h2 class="h3">Save password</h2>
                </button>
            </div>
            <div class="col-md-7 justify-content-end h6 position">
                <p>- Cannot match the old password</p><br>
                <p>- Must be at least 14 characters long</p><br>
                <p>- Must have both upper- and lowercase letters</p><br>
                <p>- Must have at least one number (0-9)</p><br>
                <p>- Must include one
                    <a href="https://www.owasp.org/index.php/Password_special_characters"
                       target="_blank" tabindex="-1" class="text-white">
                        special character
                    </a> ex: (.\!@#$%^&*?_~-)</p>
                <p>- Cannot contain your first or last name</p>
            </div>
        </div>


    </form>
</div>

{% endblock %}