{% extends "layout.html" %}

{% load static %}

{% block title %}{{ user.username }}'s Profile | {{ block.super }}{% endblock %}

{% block body %}

<div class="grid-100">
    <div class="grid-30">
        <!-- Profile picture -->
        <div class="card pr-auto" style="width: 18rem; hight: 20rem;">
            <img class="card-img-top" src="{{ user_profile.avatar.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center text-primary">{{ user.username }}</h5>
                <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
                    <a href="{% url 'accounts:change_password' %}" class="btn btn-secondary">Change Password</a>
                    <a href="#" class="btn btn-secondary">Edit Avatar</a>
                </div>
            </div>
        </div>
        <!-- /Profile picture -->
    </div>

    <div class="grid-70">

        <!-- Info -->
        <div class="card" style="width: 45rem; height: auto;">
            <ul class="list-group list-group-flush h6">
                <li class="list-group-item">
                    <p class="text-secondary">First Name:
                      <span class="text-primary ml-5">{{ user_profile.first_name }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Last Name:
                      <span class="text-primary ml-5">{{ user_profile.last_name }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Date of Birth:
                      <span class="text-primary ml-5">{{ user_profile.date_of_birth }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">City:
                      <span class="text-primary ml-5">{{ user_profile.city }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">State:
                      <span class="text-primary ml-5">{{ user_profile.state }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Country:
                      <span class="text-primary ml-5">{{ user_profile.country }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Email:
                      <span class="text-primary ml-5">{{ user_profile.email }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Hobbies:
                      <span class="text-primary ml-5">{{ user_profile.hobbies }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Favorite Animal(s):
                      <span class="text-primary ml-5">{{ user_profile.favorite_animals }}</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p class="text-secondary">Biography:
                      <span class="text-primary ml-5">{{ user_profile.bio|safe }}</span>
                    </p>
                </li>
            </ul>
        </div>
        <!-- /Info -->

    </div>
</div>
{% endblock %}