.mce-panel .mce-tinymce, .form-row .mce-tinymce  {
    border: 1px solid #c4d8c7;
    border-radius: 5px;
}

.form-row .mce-tinymce {
    margin-left: 0;
    margin-right: auto;
    max-width: 100%;
}

input[type="text"], input[type="date"] {
    border-radius: 5px;
}

input[type="date"] {
    border: 1px solid #c4d8c7;
    font-size: 2.3rem;
    padding-left: 2rem;
    height: 5.6rem;
}

.container {
    margin-top: auto;
}

.pos {
    position: absolute;
    top: 1%;
    right: 1%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.bg-info {
    background-color: rgba(0, 170, 230, 0.7)!important;
}

.errorlist {
    color: red;
    list-style: none;
}

.l {
    list-style: none;
}