/* password strength meter */

.pass {
 margin-left: 2%;
 height:45px;
 width:300px;
 border-radius:3px;
 border:2px solid grey;
 padding:10px;
 font-size:14px;
}
#meter_wrapper
{
 border:0 solid grey;
 margin-left: 0;
 margin-top:-5px;
 width:300px;
 height:35px;
 border-radius: 25%;
}
#meter
{
 margin-left: 80%;
 margin-top:-10px;
 width:300px;
 height:6px;
 border-radius: 13px;
}
#pass_type
{
 font-size:13px;
 margin-top:-10px;
 margin-right:3%;
 text-align:center;
 width: 10%
 color:dark-grey;
}

.dot {
 list-style: none;
}
