{% extends 'layout.html' %}

{% block body %}

<!-- HOME PAGE -->
<div class="form-control p-5">
    <h1 class="display-2 text-center text-primary my-3">Welcome!</h1>
    <p class="h3 text-center my-5 my_css">“There are two ways of constructing a software design:
        One way is to make it so simple that there are obviously no
        deficiencies, and the other way is to make it so complicated that
        there are no obvious deficiencies. The first method is far more difficult.”<br>
        <span class="text-secondary h4 m-5">-
            <strong class="text-primary h3">C.A.R. Hoare
            </strong> (British computer scientist, winner of the 1980 Turing Award)
        </span>
    </p>
    <p class="h3 text-center text-white my-5"></p>
</div>

{% endblock %}
